In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [31]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Updated_Cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Christchurch,NZ,-43.5333,172.6333,38.95,72,31,4.61,scattered clouds
1,1,Plastun,RU,44.7561,136.2939,45.64,95,58,2.91,broken clouds
2,2,Kodiak,US,57.7900,-152.4072,44.73,78,100,6.82,overcast clouds
3,3,New Norfolk,AU,-42.7826,147.0587,45.90,82,8,2.26,clear sky
4,4,Khatanga,RU,71.9667,102.5000,28.90,89,82,9.71,broken clouds

In [ ]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Christchurch,NZ,-43.5333,172.6333,38.95,72,31,4.61,scattered clouds
1,1,Plastun,RU,44.7561,136.2939,45.64,95,58,2.91,broken clouds
2,2,Kodiak,US,57.7900,-152.4072,44.73,78,100,6.82,overcast clouds
3,3,New Norfolk,AU,-42.7826,147.0587,45.90,82,8,2.26,clear sky
4,4,Khatanga,RU,71.9667,102.5000,28.90,89,82,9.71,broken clouds
5,5,Ossora,RU,59.2353,163.0719,33.82,99,100,1.70,overcast clouds
6,6,Cape Town,ZA,-33.9258,18.4232,60.28,70,40,10.36,scattered clouds
7,7,Walvis Bay,NaN,-22.9575,14.5053,61.09,71,0,23.62,clear sky
8,8,Bambous Virieux,MU,-20.3428,57.7575,76.21,88,75,19.57,broken clouds
9,9,Barrow,US,71.2906,-156.7887,28.42,100,100,12.66,fog

In [25]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                628
City                   628
Country                623
Lat                    628
Lng                    628
Max Temp               628
Humidity               628
Cloudiness             628
Wind Speed             628
Weather Description    628
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df.count()

City_ID                623
City                   623
Country                623
Lat                    623
Lng                    623
Max Temp               623
Humidity               623
Cloudiness             623
Wind Speed             623
Weather Description    623
dtype: int64

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(50)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Christchurch,NZ,38.95,scattered clouds,-43.5333,172.6333,
1,Plastun,RU,45.64,broken clouds,44.7561,136.2939,
2,Kodiak,US,44.73,overcast clouds,57.7900,-152.4072,
3,New Norfolk,AU,45.90,clear sky,-42.7826,147.0587,
4,Khatanga,RU,28.90,broken clouds,71.9667,102.5000,
5,Ossora,RU,33.82,overcast clouds,59.2353,163.0719,
6,Cape Town,ZA,60.28,scattered clouds,-33.9258,18.4232,
8,Bambous Virieux,MU,76.21,broken clouds,-20.3428,57.7575,
9,Barrow,US,28.42,fog,71.2906,-156.7887,
10,Dingle,PH,77.74,moderate rain,10.9995,122.6711,
11,Dunedin,NZ,43.81,overcast clouds,-45.8742,170.5036,
12,Qaanaaq,GL,18.05,few clouds,77.4840,-69.3632,
13,Lebu,CL,53.46,overcast clouds,-37.6167,-73.6500,
14,Luz,BR,69.48,clear sky,-19.8014,-45.6856,
15,Port Alfred,ZA,57.18,overcast clouds,-33.5906,26.8910,
16,Busselton,AU,57.00,clear sky,-33.6500,115.3333,
17,Albany,US,75.67,scattered clouds,42.6001,-73.9662,
18,Bluff,NZ,47.80,broken clouds,-46.6000,168.3333,
19,Tuktoyaktuk,CA,30.20,overcast clouds,69.4541,-133.0374,
20,Lanzhou,CN,65.37,overcast clouds,36.0564,103.7922,
21,Road Town,VG,86.04,few clouds,18.4167,-64.6167,
22,Hilo,US,83.28,broken clouds,19.7297,-155.0900,
23,Mataura,NZ,47.48,light rain,-46.1927,168.8643,
24,Yamada,JP,57.36,overcast clouds,39.4667,141.9500,
25,Erzin,TR,70.88,clear sky,36.9559,36.2000,
27,Eyl,SO,82.78,scattered clouds,7.9803,49.8164,
28,East London,ZA,58.14,light rain,-33.0153,27.9116,
29,Rio Claro,BR,65.89,clear sky,-22.4114,-47.5614,
30,San Nicolas,PH,76.91,moderate rain,18.1725,120.5953,
31,Punta Arenas,CL,42.91,overcast clouds,-53.1500,-70.9167,
32,Cidreira,BR,61.16,clear sky,-30.1811,-50.2056,
33,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
34,Saint-Philippe,RE,76.59,light rain,-21.3585,55.7679,
35,Codrington,AU,44.02,few clouds,-38.2667,141.9667,
36,Hobart,AU,46.26,broken clouds,-42.8794,147.3294,
37,Sao Filipe,CV,75.60,scattered clouds,14.8961,-24.4956,
38,Trat,TH,81.91,overcast clouds,12.5000,102.5000,
39,Santa Isabel Do Rio Negro,BR,74.43,overcast clouds,-0.4139,-65.0192,
40,Te Anau,NZ,43.02,overcast clouds,-45.4167,167.7167,
41,Stepantsevo,RU,46.99,broken clouds,56.1314,41.7032,
42,Ribeira Grande,PT,64.80,broken clouds,38.5167,-28.7000,
43,Boa Vista,BR,84.18,broken clouds,2.8197,-60.6733,
44,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,
45,Dudinka,RU,45.63,overcast clouds,69.4058,86.1778,
46,San Isidro,PE,62.19,overcast clouds,-12.1167,-77.0500,
47,Castro,BR,61.02,clear sky,-24.7911,-50.0119,
48,Rikitea,PF,73.22,light rain,-23.1203,-134.9692,
49,Vila Franca Do Campo,PT,63.01,broken clouds,37.7167,-25.4333,
50,Altay,CN,62.08,clear sky,47.8667,88.1167,
51,Upernavik,GL,29.32,overcast clouds,72.7868,-56.1549,

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(20)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Christchurch,NZ,38.95,scattered clouds,-43.5333,172.6333,The George
1,Plastun,RU,45.64,broken clouds,44.7561,136.2939,Gostinitsa Rossiyanochka
2,Kodiak,US,44.73,overcast clouds,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
3,New Norfolk,AU,45.90,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages
4,Khatanga,RU,28.90,broken clouds,71.9667,102.5000,"""Khatanga"""
5,Ossora,RU,33.82,overcast clouds,59.2353,163.0719,
6,Cape Town,ZA,60.28,scattered clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
8,Bambous Virieux,MU,76.21,broken clouds,-20.3428,57.7575,Casa Tia Villa
9,Barrow,US,28.42,fog,71.2906,-156.7887,King Eider Inn
10,Dingle,PH,77.74,moderate rain,10.9995,122.6711,SEGAYA PROPERTY
11,Dunedin,NZ,43.81,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
12,Qaanaaq,GL,18.05,few clouds,77.4840,-69.3632,Qaanaaq Hotel
13,Lebu,CL,53.46,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
14,Luz,BR,69.48,clear sky,-19.8014,-45.6856,Hotel Turista
15,Port Alfred,ZA,57.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel
16,Busselton,AU,57.00,clear sky,-33.6500,115.3333,Observatory Guest House
17,Albany,US,75.67,scattered clouds,42.6001,-73.9662,
18,Bluff,NZ,47.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
19,Tuktoyaktuk,CA,30.20,overcast clouds,69.4541,-133.0374,End of The Road Ltd.
20,Lanzhou,CN,65.37,overcast clouds,36.0564,103.7922,Lanzhou Amdo Xiangbala Hotel

In [29]:
hotel_df.head(20)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Christchurch,NZ,38.95,scattered clouds,-43.5333,172.6333,The George
1,Plastun,RU,45.64,broken clouds,44.7561,136.2939,Gostinitsa Rossiyanochka
2,Kodiak,US,44.73,overcast clouds,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
3,New Norfolk,AU,45.90,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages
4,Khatanga,RU,28.90,broken clouds,71.9667,102.5000,"""Khatanga"""
5,Ossora,RU,33.82,overcast clouds,59.2353,163.0719,
6,Cape Town,ZA,60.28,scattered clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
8,Bambous Virieux,MU,76.21,broken clouds,-20.3428,57.7575,Casa Tia Villa
9,Barrow,US,28.42,fog,71.2906,-156.7887,King Eider Inn
10,Dingle,PH,77.74,moderate rain,10.9995,122.6711,SEGAYA PROPERTY
11,Dunedin,NZ,43.81,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
12,Qaanaaq,GL,18.05,few clouds,77.4840,-69.3632,Qaanaaq Hotel
13,Lebu,CL,53.46,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
14,Luz,BR,69.48,clear sky,-19.8014,-45.6856,Hotel Turista
15,Port Alfred,ZA,57.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel
16,Busselton,AU,57.00,clear sky,-33.6500,115.3333,Observatory Guest House
17,Albany,US,75.67,scattered clouds,42.6001,-73.9662,
18,Bluff,NZ,47.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
19,Tuktoyaktuk,CA,30.20,overcast clouds,69.4541,-133.0374,End of The Road Ltd.
20,Lanzhou,CN,65.37,overcast clouds,36.0564,103.7922,Lanzhou Amdo Xiangbala Hotel

In [28]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df["Hotel Name"].replace("", np.nan, inplace = True)
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,51.03,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
1,Mezen,RU,32.59,light snow,65.8522,44.2400,Gostevoy Dom Everest
2,Pisco,PE,65.01,mist,-13.7000,-76.2167,Hotel San Isidro Oficial
3,Tasiilaq,GL,35.76,overcast clouds,65.6145,-37.6368,The Red House
4,Atuona,PF,78.19,clear sky,-9.8000,-139.0333,Villa Enata
5,Upernavik,GL,19.74,few clouds,72.7868,-56.1549,Café de Upernavik
6,Busselton,AU,63.55,overcast clouds,-33.6500,115.3333,Observatory Guest House
7,Hilo,US,82.13,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Ushuaia,AR,51.46,clear sky,-54.8000,-68.3000,Albatross Hotel

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<d1>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<d1>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<d1>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer and heat layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))